micronaut:
  application:
    name: mnStockBroker
  server:
    port: 8081
  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /swagger/**
      redoc:
        paths: classpath:META-INF/swagger/views/redoc
        mapping: /redoc/**
      rapidoc:
        paths: classpath:META-INF/swagger/views/rapidoc
        mapping: /rapidoc/**
      swagger-ui:
        paths: classpath:META-INF/swagger/views/swagger-ui
        mapping: /swagger-ui/**
  security:
    authentication: bearer
    token:
      jwt:
        signatures:
          secret:
            generator:
              secret: changeThisSecretBeforeDeployingToProduction
controller:
  paths:
    hello: "/hello"
hello:
  service:
    greeting: "Hi there"
  config:
    greeting:
      en: "Hi"
      de: "Hallo"
jackson:
  #property-naming-strategy: SNAKE_CASE
  serialization:
    writeDatesAsTimestamps: false
    writeDatesWithZoneId: true
    writeDateTimestampsAsNanoseconds: false
  generator:
    writeNumbersAsStrings: false
    writeBigDecimalAsPlain: false
  deserialization:
    failOnUnknownProperties: false